{% extends 'adminapp/base.html' %}
{% load static %}
{% block css %}
<link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
<link rel="stylesheet" href="{% static 'fonts/font-awesome/css/font-awesome.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css' %}">
{% endblock %}

{% block js %}
<script src="{% static 'js/jquery-3.2.1.min.js' %}"></script>
<script src="{% static 'js/bootstrap.min.js' %}"></script>
{% endblock %}

{% block content %}

    <div class="user_delete">
        Уверены, что хотите удалить {{ user_to_delete.username }}
        {% if user_to_delete.first_name %}
          ({{ user_to_delete.first_name|title }}
          {% if user_to_delete.last_name %}
            {{ user_to_delete.last_name|title }}
          {% endif %})
        {% endif %}
        ?
        <form action="{% url 'admin:user_delete' user_to_delete.pk %}"
              method="post">
          {% csrf_token %}
          <input class="btn btn-danger" type="submit" value="удалить">
        </form>
        <button class="btn btn-success">
          <a href="{% url 'admin:users' %}">
            Отмена
          </a>
        </button>
    </div>
{% endblock %}